body{
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 5fr 1fr;
  /*grid-column-gap: 2em;
  grid-row-gap: 20px;*/
  overflow-y: scroll;
}

.header {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background: black;
  padding-top: 25%;
}

.main {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background: rgb(245, 245, 245);
}

.footer {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  background: white;
  text-align: center;
  text-decoration: none;
}

/* header */

.trill {
  font-family: 'Candal', sans-serif;
  text-decoration: none;
  color: white;
  font-size: 50px;
  letter-spacing: 3px;
  margin: 10px;
}

.racface {

}

.lform {
  font-family: 'Arial', sans-serif;
  color: white;
  font-size: 17;
  margin: 10px;
}

.lform input[type="text"], .lform input[type="password"]{
  border: 1px solid rgb(100, 100, 100);
  border-radius: 2px;
  padding: 5px;
}

.lform input[type="text"]:hover, .lform input[type="password"]:hover{
  border: 1px solid rgb(215, 210, 177);
  border-radius: 2px;
  padding: 5px;
  background: rgb(223, 223, 223);
}

.lform input[type="text"]:focus, .lform input[type="password"]:focus{
  border: 1px solid rgb(100, 100, 100);
  border-radius: 2px;
  padding: 5px;
  background: rgb(215, 210, 177);
}

.lform input[type="submit"] {
  color: white;
  border: 1px solid rgb(100, 100, 100);
  border-radius: 1px;
  background: black;
}

.lform input[type="submit"]:hover {
  color: black;
  border: 1px solid rgb(100, 100, 100);
  border-radius: 2px;
  background: rgb(223, 223, 223);
}

/* main */

.rform {
  font-family: 'Arial', sans-serif;
  display: block;
  float: right;
  margin: 30px;
  /*float: right;*/
}

.racbeer {
  display: block;
  float: left;
  margin: 60px 10px;

}
.rform h1{
  color: black;
  line-height: 1em;
}

.rform p {
  font-size: 20;
  color: rgb(99, 99, 99);
}

.rform input {
  font-size: 20;
}
.rform input[type="text"], .rform input[type="password"]{
  border: 1px solid rgb(100, 100, 100);
  border-radius: 2px;
  padding: 5px;
}

.rform input[type="text"]:hover, .rform input[type="password"]:hover{
  border: 1px solid rgb(215, 210, 177);
  border-radius: 2px;
  padding: 5px;
  background: rgb(223, 223, 223);
}

.rform input[type="text"]:focus, .rform input[type="password"]:focus{
  border: 1px solid rgb(100, 100, 100);
  border-radius: 2px;
  padding: 5px;
  background: rgb(215, 210, 177);
}

input[id="username"], input[id="password"], input[id="email"] {
  width: 99%;
}

.rform input[type="submit"] {
  border: 1px solid rgb(100, 100, 100);
  background: rgb(170, 170, 170);
  border-radius: 2px;
}
