body {
  margin: 0 auto;
  font-family: 'Arial', sans-serif;
  font-size: 14;
}

/* navBar */

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  height: auto;
  background: black;
  z-index: 10;
  border-bottom: 1px solid rgb(226, 226, 226);
}


.output {
  list-style: none;
  margin: 0px;
  padding: 0px;
  margin-top: 10px;
  z-index: 15;
  }

.output li {
 display: block;
 height: 30px;
 border: 1px solid #ccc;
 background: white;
 padding: 3px;
}

.wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  grid-template-rows: 55px auto;
  overflow-y: scroll;
  background: rgb(230, 230, 230);
}

/* new post */

.profile {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background: white;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 2px;
  height: 150px;
}

.infoprofile {
  border-top: 1px solid rgb(226, 226, 226);
  border-bottom: 1px solid rgb(226, 226, 226);
  height: 50%;
  width: 98%;
  margin: 5px;
  font-size: 15;
}

.userprofile {
  background: rgb(231, 235, 241);
  border-bottom: 1px solid rgb(210, 210, 210);
  color: rgb(99, 99, 99);
  font-size: 17;
  font-weight: 400;
  padding: 5px;
  box-sizing: border-box;
}

/* POST */

.feed {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  /*padding: 10px;*/
  background: rgb(230, 230, 230);
}

.post {
  margin-top: 10px;
  margin-bottom: 5px;
  background: white;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 2px;
  height: auto;
}

.postDetails {
  background: rgb(231, 235, 241);
  border-bottom: 1px solid rgb(210, 210, 210);
  padding: 5px;
}

.profilelink{
  font-size: 17;
  text-decoration: none;
  color: rgb(99, 99, 99);
}

.profilelink:hover{
  font-size: 17;
  text-decoration: none;
  color: rgb(39, 150, 198);
  text-decoration: underline;
}

.postContent {
  margin: 5px;
  line-height: 1.5em;
}

/*------*/

.searchbar input[type="text"]{
  padding: 5px;
  border: 1px solid rgb(222, 222, 222);
  border-right: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  width: 250px;
}

.searchbar input[type="submit"]{
  border: 1px solid rgb(99, 99, 99);
  border-left: none;
  margin-left: 0;
  padding: 5px;
  font-weight: bold;
  background: rgb(170, 170, 170);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  width: auto;
}
