body {
  margin: 0 auto;
  font-family: 'Arial', sans-serif;
  font-size: 14;
}

/* navBar */

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  height: auto;
  background: black;
  z-index: 10;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.navbar a {
  display: block;
  float: left;
  text-decoration: none;
  font-size: 18;
  font-weight: bold;
  color: white;
  height: 100%;
  margin: 2px 5px;
  padding: 2px 5px;
  border-radius: 2px;
}

.navbar a:hover {
  color: white;
  background: rgb(80, 80, 80);
}

.navbar a[id="home"], .navbar a[id="profile"] {
  float: left;
}

.navbar a[id="about"], .navbar a[id="logout"] {
  float: right;
}

.wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  grid-template-rows: 30px; auto;
  overflow-y: scroll;
  background: rgb(230, 230, 230);
}

.searchbar {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background: rgb(230, 230, 230);
  margin: 5px 0px;
}

.output {
  list-style: none;
  margin: 0px;
  padding: 0px;
  }

.output li {
 display: block;
 height: auto;
 border: 1px solid #ccc;
 border-radius: 2px;
 background: white;
 padding: 3px;
}

.output a {
  text-decoration: none;
  color: rgb(99, 99, 99);
  font-size: 17;
}

.output a:hover {
  text-decoration: underline;
  color: rgb(39, 150, 198);
}

.searchbar input[type="text"]{
  padding: 5px;
  border: 1px solid rgb(222, 222, 222);
  border-right: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  width: 80%;
}

.searchbar input[type="submit"]{
  border: 1px solid rgb(99, 99, 99);
  border-left: none;
  margin-left: 0;
  padding: 5px;
  font-weight: bold;
  background: rgb(200, 200, 200);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  width: 19%;
}

.results {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  /*padding: 10px;*/
  background: rgb(230, 230, 230);
}
